@import "common/colors";
@import "common/screen";
@import "common/variables";
@import "common/mixins";

// Fonts
* {
  font-family: 'Montserrat', sans-serif;
}

input, button, textarea {
  &:focus {
    outline: 0;
  }
}

// Bootstrap Container
@include min-w(1400) {
  .container {
    max-width: 1650px
  }
}

@include min-w(2000) {
  .container {
    max-width: 2200px !important;
  }
}

.container4k {
  @include lg-min {
    max-width: 1200px;
  }
}

.green-colored {
  color: $green-color;
}

h1 {
  text-transform: uppercase;
  font-size: $h1FontSize;
  font-weight: $h1FontWeight;
  @include lg-max {
    font-size: $h1FontSizeLG;
  }
  @include md-max {
    font-size: $h1FontSizeMD;
  }
  @include sm-max {
    font-size: $h1FontSizeSM;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '-'
}

.breadcrumb {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.55px;
  @include min-w(2000) {
    font-size: 16px;
  }

  a {
    text-decoration: underline;
    color: black;

    &:hover {
      color: $green-color;
      text-decoration: none;
    }
  }

  .active {
    color: $green-color;
  }
}

.slick-slide {
  &:focus {
    outline: 0;
  }
}

.green-button {
  background-color: $green-color;
  padding: 8.5px 17.5px 7.5px 17.5px;
  color: white;
  border: 0;
  font-size: 10px;
  font-weight: 700;
  float: right;
  text-transform: uppercase;

  &:hover {
    background-color: #00844a;
  }

  @include min-w(2000) {
    font-size: 12px;
    min-width: 100px;
    min-height: 40px;
    padding: 11px 20px 10px 20px;
  }
}

.green-outline {
  cursor: pointer;
  border: 1px solid $green-color;
  color: $green-color;
  padding: 5.5px 20px;
  font-weight: 600;

  &:hover {
    color: white;
    background-color: $green-color;
  }
}

// For tabs

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.active-tab {
  background-color: $green-color !important;
  color: white !important;
}

// Loader

.lds-ring {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  @include md-max {
    width: 80px;
    height: 80px;
  }
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 8px;
  border: 16px solid #fff;
  @include md-max {
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
  }
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#overlay {
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 30px);
  //display: none;
  opacity: 0.2;
  background-color: grey;
  z-index: 999999999999999999;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 15px;
  padding-bottom: 75px;
}

// Project slick settings

.slick-arrow {
  &:first-child {
    &:hover {
      content: url("../../img/third-screen/left-green-hover.svg");
    }
  }

  &:last-child {
    &:hover {
      content: url("../../img/third-screen/right-green-hover.svg");
    }
  }

  @include min-w(2000) {
    width: 45px;
  }

  @include lg-max {
    display: none;
  }
  top: 27.5%;
  width: 35px;
}

.slick-list {
  .slick-track {
    .slick-slide {
      &:focus {
        outline: 0;
      }
    }

  }
}

// Import pages & components
@import "pages/_common/components";
@import "pages/index/_index.scss";
@import "pages/catalog/_catalog.scss";
@import "pages/contacts/_contacts.scss";
@import "pages/about/_about.scss";
@import "pages/delivery/_delivery.scss";
@import "pages/ready-to-use/_ready-to-use.scss";
@import "pages/news-detail/_news-detail.scss";
@import "pages/ready-to-use(category)/ready-to-use(category)";
@import "pages/ready-to-use(detail)/ready-to-use(detail)";
@import "pages/installation/_installation.scss";
@import "pages/installation-detail/_installation-detail.scss";