@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

.news-detail__first-screen {
  @include pageHeader;

  .main-block__inner-wrapper {
    padding: 50px 30px;
    background-color: white;
  }

  .catalog-sidebar {
    //padding-right: 50px;
    background-color: #eceff1;
    @include min-w(2000) {
      font-size: 20px;
    }

    @include lg-max {
      margin-bottom: 30px;
    }

    @include xxl-min {
      margin-right: 50px;
    }

    .catalog-accordion {
      position: relative;
      margin-bottom: 0;
      width: 100%;
      list-style-type: none;
      padding-left: 0;

      .parent-li {
        border-bottom: 1px solid #cfd4d7;

        &:hover {
          background-color: $green-color;
          color: white;
          cursor: pointer;
        }

        &:last-child {
          border-bottom: 0;
        }

        .link {
          letter-spacing: 0.81px;
          cursor: pointer;
          font-weight: 700;
          position: relative;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          padding: 30px;
          font-size: 18px;
          line-height: 22px;
          @include sm-max {
            padding: 20px;
            font-size: 14px;
          }
        }
      }

      .open {
        background-color: $green-color;
        color: white;
        position: relative;
        z-index: 2;

        .link {
          img {
            content: url("../../../img/catalog/icons/li-white-marker.png");
          }
        }
      }
    }

    /*
     * Submenu
     */

    .submenu {
      display: none;
      font-size: 14px;
      list-style-type: none;
      padding: 0 40px;

      li {
        padding: 20px 0;
        border-bottom: 1px dotted $green-color;

        &:first-child {
          padding-top: 5px;
        }

        a {
          display: flex;
          flex-direction: row;
          color: white;
          text-decoration: none;
          -webkit-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease;

          .inner-wrapper, .inner-wrapper-sm {
            display: flex;
            flex-direction: row;
            align-items: center;
            letter-spacing: 0.63px;

          }

          .inner-wrapper {
            font-weight: 400;
            font-size: 15px;
            @include min-w(2000) {
              font-size: 18px;
            }
            @include sm-max {
              font-size: 13px;
            }

            &:hover {
              font-weight: 700;
            }
          }

          .inner-wrapper-sm {
            font-weight: 200;
            @include min-w(2000) {
              font-size: 17px;
            }
            @include sm-max {
              font-size: 12px;
            }

            img {
              margin-left: 0;
              margin-right: 7.5px;
              margin-top: 0;
              width: 12px;
              height: 13px;
            }
          }

          img {
            height: 10px;
            margin-top: 4px;
            margin-left: -4px;
            margin-right: 20px;
          }
        }
      }

    }
  }
}