@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

.catalog__fifth-screen {
  background-color: $background-color;
  padding-top: 10px;
  padding-bottom: 55px;

  h1 {
    padding-bottom: 30px;
  }

  .useful-materials {
    width: 100%;
    position: relative;

    .slick-slide {
      height: 100%;
    }

    .slick-arrow {
      width: 42px;

      &:first-child {
        &:hover {
          content: url("../../../img/third-screen/left-green-hover.svg");
        }
      }

      &:last-child {
        &:hover {
          content: url("../../../img/third-screen/right-green-hover.svg");
        }
      }

      @include max-w(1800) {
        display: none !important;
      }
      top: 45%;
    }
  }

  .header-wrapper {
    img {
      width: 100%;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px 25px 40px 25px;

    h5 {
      font-weight: 700;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      font-size: 20px;
      @include min-w(2000) {
        font-size: 22px;
      }
      @include md-max {
        font-size: 15px;
      }
      @include sm-max {
        font-size: 14px;
      }
    }

    .article-marker {
      padding: 2px 0 10px;
      font-size: 12px;
      letter-spacing: 0.54px;
      color: #3d3d3d;
      @include min-w(2000) {
        font-size: 18px;
      }
      @include md-max {
        font-size: 14px;
      }
      @include sm-max {
        font-size: 12px;
      }
    }

    p {
      font-size: 14px;
      letter-spacing: 0.63px;
      color: #3d3d3d;
      @include min-w(2000) {
        font-size: 20px;
      }
      @include md-max {
        font-size: 13px;
      }
      @include sm-max {
        font-size: 12px;
      }
    }

    .green-button {
      margin-top: 15px;
      width: 115px;
      @include min-w(2000) {
        width: 125px;
        height: 45px;
      }
      padding: 10px 17px;
    }
  }
}