@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

.catalog__third-screen {
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  background-image: url("../../../img/catalog/third-screen/green-bg.png");
  background-size: 50% 100%;
  @include lg-max {
    background-size: 100% 100%;
    background-color: transparent;
    background-position: center center;
  }
  background-color: $background-color;
  background-position: left;

  .what-is {
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      .first-row {
        flex-wrap: wrap;

        img {
          width: 100%;
          margin-bottom: 25px;
        }

        span {
          padding-left: 0 !important;
        }
      }
    };
  }

  .attention-block {
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      flex-wrap: wrap;
      img {
        margin-right: 0 !important;
        margin-bottom: 25px;
      }
    };
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 30px;
    border: 3px solid rgba(255, 255, 255, 0.36);
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.72px;
    margin-bottom: 25px;
    @include min-w(2000) {
      font-size: 18px;
    }
    @include md-max {
      font-size: 16px;
    }
    @include sm-max {
      font-size: 14px;
    }

    img {
      height: 76px;
      margin-right: 30px;
    }

    @include md-max {
      flex-wrap: wrap;
      justify-content: center;
      img {
        margin-right: 0;
        padding-bottom: 15px;
      }
    }
  }

  .subheader {
    font-size: 16px;
    letter-spacing: 0.72px;
    font-weight: 500;
  }

  .step-wrapper {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px 35px 20px 20px;
    background-color: white;
    margin-bottom: 15px;
    @include md-max {
      padding: 20px;
    }

    .upper-block {
      display: flex;
      flex-direction: row;
      @include md-max {
        flex-wrap: wrap;
      }
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }

      .green-number-wrapper, .blue-number-wrapper {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 0.26px;
        color: #ffffff;
        padding: 15px 20px;
        display: flex;
        margin-right: 25px;
        @include min-w(2000) {
          font-size: 50px;
        }
        @include md-max {
          font-size: 16px;
          margin-right: 0;
          text-align: center;
          justify-content: center;
          width: 100%;
          margin-bottom: 15px;
        }
      }

      .green-number-wrapper {
        background-color: $green-color;
      }

      .blue-number-wrapper {
        background-color: $blue-color;
      }

    }

    .header-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .inner-header {
        font-weight: 700;
        letter-spacing: 0.77px;
        font-size: 16px;
        @include min-w(2000) {
          font-size: 20px;
        }
        @include md-max {
          font-size: 18px;
        }
        @include sm-max {
          font-size: 14px;
        }
      }

      .description {
        font-size: 14px;
        font-weight: 200;
        @include min-w(2000) {
          font-size: 18px;
        }
        @include md-max {
          font-size: 16px;
        }
        @include sm-max {
          font-size: 14px;
        }
      }
    }

    .lower-block {
      display: flex;
      flex-direction: row;

      img {
        margin-right: 25px;
      }

      @include md-max {
        flex-wrap: wrap;
        justify-content: center;
        img {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }

      .lower-block__slider {
        width: 100%;
        padding: 0 50px;
        .slide-img {
          height: 70px;
        }
        @include md-max {
          display: none;
        }
      }

      .content-wrapper {
        .subheader {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.67px;
          display: block;
          padding-bottom: 10px;
        }

        ul {
          padding-left: 20px;
          margin-bottom: 0;

          li {
            padding-bottom: 5px;
            font-size: 14px;
            letter-spacing: 0.67px;
            font-weight: 200;
          }
        }
      }
    }
  }
}