@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

.sixth-screen {
  background-color: #e7e8e8;
  padding-bottom: 90px;
  @include md-max {
    padding-bottom: 45px;
  }

  .col-lg-4 {
    @include md-min {
      //padding-right: 0;
      margin-bottom: 15px;
    }
  }

  .name-me {
    @include min-w(2000) {
      padding-right: 15px !important;
    }
    @include lg-min {
      padding-right: 0;
    }
  }

  .header-wrapper {
    span {
      color: #cdcdcd;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 62px;
      @include xl-max {
        font-size: 58px;
      }
      @include lg-max {
        font-size: 40px;
      }
      @include md-max {
        font-size: 30px;
      }
      @include sm-max {
        font-size: 25px;
      }
    }
  }

  .col-md-6 {
    margin-bottom: 15px;
    @include min-w(2000) {
      margin-bottom: 30px !important;
    }
    @include min-w(2000) {
      padding-right: 15px !important;
    }
    @include lg-min {
      padding-right: 0;
    }
  }

  .col-md-12 {
    @include min-w(2000) {
      margin-bottom: 15px;
    }
  }

  .custom-col {
    height: 100%;

    .inner-header-wrapper {
      border-bottom: 13px solid $green-color;
      padding: 70px 25px 0 25px;
      height: 300px;
      //padding-top: 70px;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      @include min-w(2000) {
        height: 320px;
      }

      @include xl-max {
        padding: 35px;
        justify-content: center;
      }
      @include sm-max {
        padding: 25px;
        height: 220px;
        justify-content: center;
      }

      span {
        font-weight: 200;
        font-size: 14px;
        letter-spacing: 0.63px;
        color: white;
        @include min-w(2000) {
          font-size: 18px;
        }
        @include xl-max {
          font-size: 12px;
        }
        @include sm-max {
          font-size: 10px;
        }
        @media screen and (min-width: 1200px) and (max-width: 1400px) {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 7;
          -webkit-box-orient: vertical;
        }
      }
    }

    .content-wrapper {
      background-color: white;
      padding: 20px 0;
      font-size: 14px;
      @include min-w(2000) {
        font-size: 18px;
      }
      @include lg-max {
        font-size: 13px;
      }
      font-weight: 500;

      .single-line {
        padding: 6.5px 25px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e5edf4;
        @include min-w(2000) {
          padding: 8.5px 25px;
        }

        span {
          &:first-child {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .big-one {
      //height: calc(70% + 6.8px);
      height: calc(69% + 2.5px);
      @include min-w(2000) {
        height: calc(71% - 5px);
      }
      @include lg-max {
        height: auto;
      }

    }
  }

  .custom-col1 {
    background-image: url("../../../img/sixth-screen/img1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .custom-col2 {
    background-image: url("../../../img/sixth-screen/img2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .custom-col3 {
    background-image: url("../../../img/sixth-screen/img4.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px !important;
    padding-top: 50px !important;
  }

  .custom-col4 {
    background-image: url("../../../img/sixth-screen/img3.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h5 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    @include min-w(2000) {
      font-size: 24px;
    }
    @include lg-max {
      font-size: 20px;
    }
    @include sm-max {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }

}