@mixin grid($cols, $margin) {
  float: left;
  margin-bottom: #{$margin}px;

  @if ($cols >= 5) {
    width: 100% !important;
    margin-right: #{$margin}px !important;
  } @else {
    width: ((100% - (($cols - 1) * $margin)) / $cols) !important;
    margin-right: #{$margin}px !important;
  }

  &:nth-child(#{$cols}n) {
    margin-right: 0 !important;
  }
}

@mixin px($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin py($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin mx($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

@mixin my($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin pxa($var) {
  padding-left: $var;
  padding-right: $var;
}

@mixin pya($var) {
  padding-top: $var;
  padding-bottom: $var;
}

@mixin mxa($var) {
  margin-left: $var;
  margin-right: $var;
}

@mixin mya($var) {
  margin-top: $var;
  margin-bottom: $var;
}

@mixin bgImgCover {
  //background-image: url('../img/#{$path}.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin bgImgContain {
  //background-image: url('../img/#{$path}.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

// FOR PROJECT

@mixin pageHeader {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: $background-color;
  @include lg-max {
    padding-top: 65px;
  }
  @include md-max {
    padding-bottom: 30px;
    padding-top: 40px;
  }
  @include sm-max {
    padding-top: 35px;
  }

  h1 {
    padding-bottom: 35px;

    @include sm-max {
      padding-bottom: 25px;
    }
  }
}

@mixin tabHover {
  background-color: $green-color;
  color: white;
  cursor: pointer;
}

@mixin responsiveText {
  @include min-w(2000) {
    font-size: 18px;
  }
  @include lg-max {
    font-size: 15px;
  }
  @include md-max {
    font-size: 14px;
  }
  @include sm-max {
    font-size: 13px;
  }
}
