@import "../../common/colors";
@import "../../common/screen";
@import "../../common/variables";
@import "../../common/mixins";

#ready-to-use__detail, #item-card {
  .catalog__fourth-screen {
    padding-top: 0;
    padding-bottom: 75px;

    &:last-child {
      padding-bottom: 120px;
    }

    @include md-max {
      padding-bottom: 60px;
    }

    .more-products2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;

      .custom-slider-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .show-me {
        display: initial;
        position: relative;
      }

      @keyframes slideDown {
        0% {
          opacity: 0.1;
          transform: translateY(-100%);
        }
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }

      .single-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        @include lg-min {
          &:hover {
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.11);

            .lower-part {
              .bottom-wrapper {
                box-shadow: 0 7px 7px rgba(0, 0, 0, 0.11);

                .another-wrapper {
                  box-shadow: inherit;
                  display: initial;
                  width: 100%;
                  background-color: inherit;
                  padding-bottom: 40px;
                }
              }

              .prices-block {
                display: none;
              }
            }
          }
        }

        .upper-part, .lower-part {
          width: 100%;
        }

        .upper-part {
          @include bgImgCover;
          height: 260px;
          width: 100%;
        }

        .lower-part {
          display: flex;
          flex-direction: column;
          padding: 20px;
          background-color: white;
          @include responsiveText;

          h5 {
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
          }

          .prices-block {
            color: $green-color;
            font-weight: 800;
            background-color: inherit;
            padding-top: 5px;
            @include md-max {
              display: none;
            }

            .custom-block__property {
              .inner-text-wrapper, .custom-block__property-value {
                color: inherit;
                font-weight: inherit;
              }
            }
          }

          .bottom-wrapper {
            background-color: inherit;
            position: relative;
            @include mx(-20px, -20px);
            z-index: 999;

            .another-wrapper {
              background-color: inherit;
            }

            @include lg-min {
              .another-wrapper {
                position: absolute;
                display: none;
              }
            }
          }

          .dropdown-block-part {
            background-color: inherit;
            padding: 0 20px;
          }

          .custom-block__property {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //align-items: center;
            font-size: inherit;
            padding-top: 14px;
            position: relative;
            background-color: inherit;

            &:before {
              content: '';
              position: absolute;
              bottom: .4rem;
              width: 100%;
              height: 0;
              line-height: 0;
              border-bottom: 2px dotted #6b6b6b;
            }

            .inner-text-wrapper {
              background-color: inherit;
              display: flex;
              align-items: center;
              z-index: 1;
              padding-right: .4rem;
              font-weight: 600;
              font-size: inherit;

              span {
                background-color: inherit;
              }

              img {
                margin-right: 7.5px;
              }
            }

            .custom-block__property-value {
              padding-left: .4rem;
              z-index: 1;
              background-color: inherit;

              .color {
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 30px;
              }
            }
          }

          .hover__more-block {
            //@include mx(-20px, -20px);
            margin-top: 30px;
            padding-top: 25px;
            padding-bottom: 20px;
            border-top: 2px solid #f7f7f7;

            .inner-wrapper {
              padding: 0 20px;

              .custom-block__property {
                justify-content: flex-start;
                padding-top: 0;
                line-height: 30px;
                @include max-w(1480) {
                  flex-wrap: wrap;
                  flex-direction: column;
                }

                &:before {
                  border-bottom: 0;
                }

                .nameless-inner-wrapper {
                  display: flex;
                  flex-direction: row;
                }

                .custom-block__property-value {
                  font-weight: 800;
                  font-size: 22px;
                  color: $green-color;
                  display: flex;
                  align-items: flex-end;
                  line-height: inherit;
                }

                .custom-block__property-unit {
                  display: flex;
                  align-items: flex-end;
                  font-weight: 400;
                  color: $green-color;
                  letter-spacing: 0.63px;
                  padding-left: 7px;
                  line-height: inherit;
                }
              }

              .green-button {
                float: left;
                margin-top: 20px;
                padding: 16px 40px;
                font-weight: 600;
                letter-spacing: 0.71px;
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;

                img {
                  height: 8px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }

    .single-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      .upper-part, .lower-part {
        width: 100%;
      }

      .upper-part {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        img {
          width: 100%;
        }
      }

      .lower-part {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        min-height: 167px;
        @include min-w(2000) {
          padding: 25px;
        }

        h5 {
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 0;
          @include min-w(2000) {
            font-size: 24px;
          }
        }

        .description {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.63px;
          color: #3d3d3d;
          padding-top: 14px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @include responsiveText;
        }

        .diameter {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          //align-items: center;
          padding-top: 14px;

          .inner-text-wrapper {
            display: flex;
            align-items: center;

            img {
              margin-right: 7.5px;
            }

            font-weight: 700;
            font-size: 15px;
            @include responsiveText;
          }

          @include responsiveText;
        }

        .learn-more {
          text-align: right;
          display: block;
          padding-top: 20px;
          font-size: 14px;
          text-decoration: underline;
          color: $green-color;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .ready-to-use__detail__first-screen {
    .main-block__inner-wrapper {
      padding: 30px 50px;
      @include md-max {
        padding: 15px;
      }

      .catalog-sidebar {
        @include max-w(1600) {
          //margin-right: 0;
        }
      }
    }
  }

  .right-block {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    @include xxl-max {
      flex-wrap: wrap;
    }

    .how-to-use {
      z-index: 2;
      color: black;
      border: 2px solid $green-color;
      margin-right: 15px;
      padding: 13px;
      width: 50%;
      max-height: 520px;
      @include min-w(2000) {
        padding: 23px;
        max-height: initial;
      }
      @include xxl-max {
        width: 100%;
        color: white;
      }

      .how-to-slider3 {
        padding-bottom: 15px;
        //height: 500px;

        .img-container {
          height: 400px;
          @include min-w(2000) {
            height: 461px;
          }
          @include xxl-max {
            height: 350px;
          }
          @include md-max {
            height: 221px;
          }
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;

          .zoom-btn {
            cursor: pointer;
            position: absolute;
            bottom: 15px;
            right: 15px;
          }
        }

      }

      .how-to-slider4 {
        position: relative;
        padding: 0 60px;

        .img-container {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        @include md-max {
          //padding: 0 0 0 20px;
          padding: 0 20px;
          //padding-right: 20px;
        }

        .slick-track {
          .img-container {
            margin-left: 5px;
            margin-right: 5px;
            height: 65px;
            @include min-w(2000) {
              height: 92px;
            }
            @include xxl-max {
              height: 75px;
            }
            @include lg-max {
              height: 76px;
            }
            @include md-max {
              height: 46px;
            }
          }
        }
      }

      .slick-arrow {
        &:first-child {
          &:hover {
            content: url("../../../img/third-screen/left-green-hover.svg");
          }
        }

        &:last-child {
          &:hover {
            content: url("../../../img/third-screen/right-green-hover.svg");
          }
        }

        @include lg-max {
          display: none;
        }
        top: 27.5%;
        width: 35px;
      }

      .slick-list {
        //height: 100%;

        .slick-track {
          //height: 100%;

          .slick-slide {
            &:focus {
              outline: 0;
            }
          }

        }
      }
    }

    .right-part {
      margin-left: 15px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include xxl-max {
        padding-top: 25px;
        margin-left: 0;
        width: 100%;
      }

      .text-block {
        font-size: 15px;
        @include adjustableText(12px, 14px, 15px, 17px);

        .first-line {
          font-size: 20px;
          @include xl-max {
            font-size: 18px;
          }
          @include adjustableText(14px, 16px, 17px, 24px);
        }
      }

      .border-block {
        border: 4px solid #eceff1;
        padding: 25px;
        font-size: 15px;
        @include adjustableText(12px, 14px, 15px, 17px);
        @include md-max {
          padding: 15px;
        }

        p {
          margin-bottom: 0;
        }

        .first-line {
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 10px;
          @include xl-max {
            font-size: 18px;
          }
          @include adjustableText(14px, 16px, 17px, 24px);
        }
      }

      .btn-wrapper {
        margin-top: 20px;

        .blue-button {
          background-color: $blue-color;
          color: white;
          border: 0;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 10px;
          padding: 15px 40px;
          margin-top: 15px;

          &:hover {
            background-color: #0b375e;
          }
        }
      }
    }
  }
}